body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.list-option {
  list-style: none;
  font-size: 18px;
}

.selected {
  background-color: skyblue;
}

.select-box {
  width: 100%;
}

.options-container {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 0;
  left: 0;
  top: 30px;
}

.select-container {
  position: relative;
  width: 200px;
  margin: auto;
}

.clear-input {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}
